<h3>REST API</h3>

<b>Add player data</b>
<form #playerdata="ngForm" (ngSubmit)="addPlayer(playerdata)">
<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" id="Name" name="name" placeholder="Name" ngModel>
  </div>
  <div class="form-group">
    <label for="rushingYards">RushingYards</label>
    <input type="text" name="rushingYards" id="rushingYards" placeholder="num" ngModel>
  </div>

  <div class="form-group">
    <label for="touchDownsThrown">touchDownsThrown</label>
    <input type="text" id="touchDownsThrown" name="touchDownsThrown" ngModel>
  </div>
  
  <div class="form-group">
    <label for="sacks">Sacks</label>
    <input type="text" id="sacks" name="sacks" placeholder="" ngModel >
  </div>

  <div class="form-group">

    <label for="fieldGoalsMade">field Goals made</label>
    <input type="text" id="fieldGoalsMade" name="fieldGoalsMade" placeholder="" ngModel >
  </div>

<div class="form-group">

  <label for="fieldGoalsMissed">field Goals missed</label>
  <input type="text" id="fieldGoalsMissed" name="fieldGoalsMissed" placeholder="" ngModel >
</div>

<div class="form-group">
  <label for="catchesMade">Catches made</label>
  <input type="text" id="catchesMade" name="catchesMade" placeholder="" ngModel >
</div>

<div class="form-group">
  <label for="playerid">Player ID</label>
  <input type="text" id="playerid" name="id" placeholder="" ngModel >
</div>


  <input type="submit" value="Add" >
</form>


<b>Update player data</b>
<form #update="ngForm" (ngSubmit)="updatePlayer(update)">
  <div class="form-group">
    <label for="value">New name</label>
    <input    type="text" id="value" name="upd" ngModel>
  </div>

  <div class="form-group">
    <label for="Playerid">player ID</label>
    <input type="text" id="Playerid" name="id" ngModel>
  </div>
  <button type="submit">Update</button>
</form>


<h3>Delete Player data</h3>
<form #delete="ngForm">
  <p>Enter player ID to be deleted</p>
  <div class="form-group">
   <label for="value">ID</label>
    <input type="text" id="value" name="playerid" ngModel>
  </div>
  <button (click)="deletelayer(delete)">Delete</button>
</form>


<h3>Team stats</h3>
<p>These are the mongo query results</p>
<button (click)="fetchData()">Fetch</button>
<p>{{data}}</p>